.card-container{
    position: relative;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    transition: transform .9s;    
}


.card-img{
    min-width: 100%;
    min-width: 100%;
    display: block;
    border: 3px solid #3e4357;
    border-radius: 10px;


}

.card-container:hover{
    transform: scale(1.1);
}