<app-menu></app-menu>  
<div class="home-container">
    <app-card 
        gameCover="../../../assets/battlefied.jpg" 
        gameLabel="Exclusivo"
        gameType="PS4"
        gamePrice="R$ 399,00">
    </app-card>   
    <app-card 
        gameCover="../../../assets/rf.jpeg" 
        gameLabel="Promoção"
        gameType="PS4"
        gamePrice="R$ 399,00">
    </app-card>   
    
    <app-card 
        gameCover="../../../assets/gta.jpeg" 
        gameLabel="GRÁTIS"
        gameType="PS4"
        gamePrice="R$ 0,0">
    </app-card>   
</div>