<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">


<div class="menu-bar-container">
    <div class="menu-bar-logo">
        <img src="../../../assets/playstation-store-logo.png" alt=""  class="">
    </div>

    <div class="menu-bar-item">
        <ul>
            <li><a href="">Youtube</a></li>
            <li><a href="">Linkedin</a></li>
            <li><a href="">Github</a></li>
        </ul>    
    </div>
</div>